.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
build/
*.pbxuser
!default.pbxuser
*.modelv3
!default.modelv3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
Archives
prep-archive.log
